// VARIABLES

//BACKGROUND COLORS

$black-background: #000;
$black2-background: #030e10;
$black3-background: #171c21;
$white-background: whitesmoke;
$black-article-background: #161616a0;

// BTN COLORS 

$white-btn: #fff;
$black-btn: #000;

// HOVER COLORS

$hover-color:#b7b7ce;
$white-hover: whitesmoke;
$grey-hover: rgb(174, 173, 173);
$grey-hover2: rgb(113, 112, 112);

// TITLE COLORS

$title-white: whitesmoke;

// TEXT COLORS  

$white: rgb(228, 226, 226);
$text-color: whitesmoke;
$text-global: #d2d1d1;


// FONTS 

$robotocond: 'Roboto Condensed';
$roboto: 'Roboto';
$sourcecode: 'Source Code Pro';

//  TITLE FONT SIZE

$title-size-main: 5.5rem;
$title-size1: 1rem;
$title-size1-5: 1.5rem;
$title-size2: 2rem;
$title-size2-5: 2.5rem;
$title-size3: 3rem;
$title-size3-5: 3.5rem;
$title-size4: 4rem;
$title-size4-5: 4.5rem;
$title-size5: 5rem;
$title-size6: 5.7rem;

// PARAGRAPH SIZE

$psize1: 1rem;

// LETTER SPACING

$letter-spacing1: 0.1rem;
$letter-spacing2: 0.2rem;
$letter-spacing3: 0.3rem;
$letter-spacing4: 0.4rem;
$letter-spacing6: 0.6rem;
$letter-spacing5: 0.8rem;


// LINE HEIGHT

$line-height1: 1rem;
$line-height1-7: 1.7rem;
$line-height2: 2rem;
$line-height2-3: 2.3rem;
$line-height2-7: 2.7rem;
$line-height3: 3rem;

// BORDES

$border-card: 0.1rem solid rgb(32, 32, 32);
$border-grey-square: 1rem solid rgb(31, 29, 29);
$border-horarios: 0.063rem solid $text-color;
$border-radius: 1.2rem;
$border3: 2rem;

// BOX MODEL

// PADDINGS

$padding: 0 2rem;
$padding1: 1rem;
$padding2: 2rem;
$padding3: 3rem;
$padding-bottom: 2rem;

// MARGINS

$margin: 0 1rem;
$margin1: 1rem;
$margin1-5: 1rem 0.5rem;
$margin2: 2rem;
$margin-2-4: 2rem 4rem;
$margin3: 3rem;